@use "../../shared/styles/variables" as *;

.menu {
  position: relative;
}

.menuListDesktop {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: bold;
  color: $primary-color;
}

.menuLink {
  transition: all $transition-base;
  border: solid 1px transparent;
  border-radius: 30px;
  padding: 10px 20px;

  &:hover {
    border: solid 1px $primary-color;
  }
}

.menuBtn {
  display: none;
  width: 50px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 1;

  span {
    width: 100%;
    height: 4px;
    background-color: $primary-color;
    transition: background-color $transition-base;
  }
}

.menuList {
  display: none;
}

.menuOpen {
  .menuList {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $primary-color;
    color: $white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    transform: translateY(0%);
    transition: transform $transition-base;
    display: flex;
    z-index: 10;
  }

  .menuBtn span {
    background-color: $white;
  }

  .menuListDesktop {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .menuBtn {
    display: flex;
  }

  .menuListDesktop {
    display: none;
  }
}

@media (max-width: $breakpoint-md) {
  .menuListDesktop {
    gap: 20px;
  }
}
